In [1]:
import sys
sys.path.append("../..")

import pandas as pd
from epiquark import conf_matrix, score, timeliness

In [2]:
cases = pd.read_csv("../../tests/data/paper_example/cases_long.csv")
signals = pd.read_csv("../../tests/data/paper_example/imputed_signals_long.csv")

In [3]:
cases.head()

    x1   x2 data_label  value
0  0.0  0.0        one      0
1  0.0  1.0        one      0
2  0.0  2.0        one      0
3  0.0  3.0        one      0
4  0.0  4.0        one      0

In [4]:
signals.head()

    x1   x2 signal_label  value
0  0.0  0.0          w_A    0.0
1  0.0  1.0          w_A    0.0
2  0.0  2.0          w_A    0.0
3  0.0  3.0          w_A    0.0
4  0.0  4.0          w_A    0.0

In [5]:
score(cases, signals, "r2")

{'endemic': -0.013702460850111953,
 'non_case': 0.7996794871794872,
 'one': 0.3055555555555556,
 'three': -0.7795138888888888,
 'two': -0.17753623188405832}

In [6]:
conf_matrix(cases, signals, 0.5, 0.2)

{'endemic': [[16, 4], [1, 4]],
 'non_case': [[13, 0], [0, 12]],
 'one': [[20, 2], [0, 3]],
 'three': [[18, 5], [2, 0]],
 'two': [[17, 4], [3, 1]]}

In [7]:
timeliness(cases, signals, "x2", 2)

{'one': 0.0, 'three': 0.0, 'two': 0.0}